<a href="https://colab.research.google.com/github/sarastefani/aima-python/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Please fill out the information of your group!

| <p style="text-align: center;">First Name</p>  | <p style="text-align: center;">Family Name</p> | Matr.-No. |
| ---------------------------------------------- | ---------------------------------------------- | -------- |
| <p style="text-align: left">Sara</p>| <p style="text-align: left">Plavsic</p> | *EDIT!* |
| <p style="text-align: left">Oliver</p>| <p style="text-align: left">Gstöttenbauer</p> | K12013278 |

In [ ]:
import os
import pandas as pd
from IPython.display import display, Markdown, Latex
import requests
import zipfile
import shutil

cwd = os.getcwd()
cwd

'/content'

<h2 style="text-align: center">344.105/6/7 UE: Natural Language Processing (WS2022/23)</h2>
<h1 style="color:rgb(0,120,170)">Assignment 1</h1>
<h2 style="color:rgb(0,120,170)">Document Classification with Standard Machine Learning Methods</h2>

<div style="background-color:rgb(224, 243, 255)">
<b>Terms of Use</b><br>
This  material is prepared for educational purposes at the Johannes Kepler University (JKU) Linz, and is exclusively provided to the registered students of the mentioned course at JKU. It is strictly forbidden to distribute the current file, the contents of the assignment, and its solution. The use or reproduction of this manuscript is only allowed for educational purposes in non-profit organizations, while in this case, the explicit prior acceptance of the author(s) is required.

**Author:** Navid Rekab-saz<br>
**Email:** navid.rekabsaz@jku.at<br>

</div>

<h2>Table of contents</h2>
<ol>
    <a href="#section-general-guidelines"><li style="font-size:large;font-weight:bold">General Guidelines</li></a>
    <a href="#section-preprocessing"><li style="font-size:large;font-weight:bold">Task A: Pre-processing & Feature Extraction (15 points)</li></a>
    <a href="#section-training"><li style="font-size:large;font-weight:bold">Task B: Training and Results Analysis (15 points)</li></a>
    <a href="#section-optional"><li style="font-size:large;font-weight:bold">Task C: Linear Model Interpretability (2 extra point)</li></a>
    
</ol>

<a name="section-general-guidelines"></a><h2 style="color:rgb(0,120,170)">General Guidelines</h2>

<div style="background-color:rgb(224, 243, 255)">

### Assignment objective

The aim of this assignment is to implement a document (sentence) classification model using (standard) machine learning methods. The assignment in total has **30 points**; it also offers **2 extra points** which can cover any missing point.

This Notebook encompasses all aspects of the assignment, namely the descriptions of tasks as well as your solutions and reports. Feel free to add any required cell for solutions. The cells can contain code, reports, charts, tables, or any other material, required for the assignment. Feel free to provide the solutions in an interactive and visual way! 

Please discuss any unclear point in the assignment in the provided forum in MOODLE. It is also encouraged to provide answers to your peer's questions. However when submitting a post, keep in mind to avoid providing solutions. Please let the tutor(s) know shall you find any error or unclarity in the assignment.

</div>

<div style="background-color:rgb(224, 243, 255)">

### Libraries & Dataset

The assignment should be implemented with recent versions of `Python` (>3.7). Any standard Python library can be used, so far that the library is free and can be simply installed using `pip` or `conda`. Examples of potentially useful libraries are `scikit-learn`, `numpy`, `scipy`, `gensim`, `nltk`, `spaCy`, and `AllenNLP`. Use the latest stable version of each library.

To conduct the experiments, two datasets are provided. The datasets are taken from the data of `thedeep` project, produced by the DEEP (https://www.thedeep.io) platform. The DEEP is an open-source platform, which aims to facilitate processing of textual data for international humanitarian response organizations. The platform enables the classification of text excerpts, extracted from news and reports into a set of domain specific classes. The provided dataset has 12 classes (labels) like agriculture, health, and protection. 

The difference between the datasets is in their sizes. We refer to these as `medium` and `small`, containing an overall number of 38,000 and 12,000 annotated text excerpts, respectively. Select one of the datasets, and use it for all of the tasks. `medium` provides more data and therefore reflects a more realistic scenario. `small` is however provided for the sake of convenience, particularly if running the experiments on your available hardware takes too long. Using `medium` is generally recommended, but from the point of view of assignment grading, there is no difference between the datasets.

Download the dataset from [this link](https://drive.jku.at/filr/public-link/file-download/0cce88f083887a040183c5bebe366b04/43388/4737518022038762454/nlp2022_23_data.zip).

Whether `medium` or `small`, you will find the following files in the provided zip file:
- `thedeep.$name$.train.txt`: Train set in csv format with three fields: sentence_id, text, and label.
- `thedeep.$name$.validation.txt`: Validation set in csv format with three fields: sentence_id, text, and label.
- `thedeep.$name$.test.txt`: Test set in csv format with three fields: sentence_id, text, and label.
- `thedeep.$name$.label.txt`: Captions of the labels.
- `README.txt`: Terms of use of the dataset.

</div>

In [ ]:
data_path = './nlp2022_23_data'

In [ ]:
# ---- DOWNLOADING AND EXTRACTING DATA ----

# This can be commented out/in if the dataset does not need to be downloaded, 
# This cell is just for convience when using google colab, as colab
# at least in the free version deletes files outside the notebook
# when the active session gets detroyed.

data_zip_path = './nlp2022_23_data.zip'
data_path_tmp = data_path + '_tmp'

def remove_dir_if_exists(dirpath):
    if os.path.exists(dirpath) and os.path.isdir(dirpath):
        shutil.rmtree(dirpath)

remove_dir_if_exists(data_path_tmp)
remove_dir_if_exists(data_path)

# download
zip_url = 'https://drive.jku.at/filr/public-link/file-download/0cce88f083887a040183c5bebe366b04/43388/4737518022038762454/nlp2022_23_data.zip'
zip_download_request = requests.get(zip_url, allow_redirects=True)
open(data_zip_path, 'wb').write(zip_download_request.content)

# unzip
with zipfile.ZipFile(data_zip_path, 'r') as zip_ref:
    zip_ref.extractall(data_path_tmp)

# move extracted folder
src_path = os.path.join(data_path_tmp, 'nlpwdl2021_data')
shutil.move(src_path, data_path)

remove_dir_if_exists(data_path_tmp)
os.remove(data_zip_path)

print('Download successful ♪┏(・o･)┛♪┗ ( ･o･) ┓♪')

Download successful ♪┏(・o･)┛♪┗ ( ･o･) ┓♪

<div style="background-color:rgb(224, 243, 255)">

### Submission

Each group should submit the following two files:

- One Jupyter Notebook file (`.ipynb`), containing all the code, results, visualizations, etc. **In the submitted Notebook, all the results and visualizations should already be present, and can be observed simply by loading the Notebook in a browser.** The Notebook must be self-contained, meaning that (if necessary) one can run all the cells from top to bottom without any error. Do not forget to put in your names and student numbers in the first cell of the Notebook. 
- The HTML file (`.html`) achieved from exporting the Jupyter Notebook to HTML (Download As HTML).

You do not need to include the data files in the submission.


</div>

<a name="section-preprocessing"></a><h2 style="color:rgb(0,120,170)">Task A: Pre-processing & Feature Extraction (15 points)</h2>

<div style="background-color:rgb(224, 243, 255)">
    
**Preprocessing (4 points).** Load the train, validation, and test sets. Study the text and according to your judgements, apply at least <ins>two text cleaning/preprocessing methods</ins>. Punctuations marks, numbers, dates, case-sensitivity are some examples of the elements which can be potentially considered for cleaning/preprocessing. Tokenize the result text with a tokenizer of your choice. Report your approaches to text cleaning and tokenization and the reasons of your choices. Provide some examples, showing the effects of the applied approaches on the text.

**Creating dictionary (4 points).** Create a dictionary of vocabularies following the guidelines discussed in the lecture. Next, reduce the size of dictionary using a method of your choice, for instance by considering a cut-off threshold on the tokens with low frequencies. When removing tokens from the dictionary, consider a strategy for handling Out-Of-Vocabulary (OOV) tokens, namely the ones in the train/validation/test datasets that that are not anymore in the dictionary. Some possible strategies could be to remove OOVs completely from the texts, or to replace them with a special token like <OOV\>. Explain your approaches and report the statistics of the dictionary before and after the reduction.

**Creating sentence vectors (4 points).** Use the dictionary to prepare <ins>two variations of document representation vectors</ins>, separately for train, validation, and test sets. Both variations follow a Bag-of-Words approach with a different token weighting method. One applied weighting must be `tf-idf` and the other one can be any other methods discussed in the lecture such as `tc`, `tf`, `BM25`. These term weighting methods should be implemented; using a library to readily calculate the term weightings is not allowed. Report the applied approaches. Calculate and report the sparsity rate of the vectors of train, validation, and test sets, namely what percentages of the vectors in each set are filled with zeros.

**Dimensionality reduction (3 points).** Reduce vectors' dimensions to $k$ by applying Latent Semantic Analysis (LSA) to the vectors of both variations. $k$ is a hyper-parameter and can be $10<k<1000$. Keep in mind the training and inference phases of LSA, when applied to the train, validation, and test sets. 

At the end of Task A, you should have the <ins>four feature vectors variations</ins> shown below, each consisting of the sets of train, validation, and test:
- **`Token Weighting I - High Dimensional`**
- **`Token Weighting I - Low Dimensional`**
- **`Token Weighting II - High Dimensional`**
- **`Token Weighting II - Low Dimensional`**


</div>

In [ ]:
# ---- DATA LOADING -----

dataset_size = 'medium'

def load(dataset: str):
    return pd.read_csv(os.path.join(data_path, f'thedeep.{dataset_size}.{dataset}.txt'), names=["id", "text", "class"], index_col='id')

def load_labels():
    return pd.read_csv(os.path.join(data_path, f'thedeep.labels.txt'), names=["id", "name"], index_col='id')
    
data_train_original = load('train')
data_validation_original = load('validation')
data_test_original = load('test')
data_labels = load_labels()

display(Markdown('## Labels'))
display(data_labels)

display(Markdown('## Training data'))
display(data_train_original)

display(Markdown('## Validation data'))
display(data_validation_original)

display(Markdown('## Test data'))
display(data_test_original)

## Labels

           name
id
0   Agriculture
1         Cross
2     Education
3          Food
4        Health
5    Livelihood
6      Logistic
7           NFI
8     Nutrition
9    Protection
10      Shelter
11         WASH

## Training data

                                                    text  class
id
11609  • 214,000 students affected as schools close d...      9
28291  The primary reported needs for IDPs across the...      4
9695   Some 602 000 IDPs are now spread across the co...      3
7781   South Sudanese soldiers accused of raping at l...      9
31382  Since the beginning of 2017, 18 882 suspected/...     11
...                                                  ...    ...
36292  Cholera continues to spread in Yemen, causing ...      4
5566   An estimated 165,000 children are expected to ...      8
19676  On 3 March 2017, Tropical storm Enawo formed i...     10
29831  The presence of UXO was reported in 15 baladiy...      9
27747  As at week 27 (July 1-7, 2017), the outbreak i...      4

[26600 rows x 2 columns]

## Validation data

                                                    text  class
id
19795  The Demographic Health Survey (2015 – 2016) fi...      9
13536  Residents in the disputed Abyei region on Tues...      3
31642  The following day, Omar says an SDF commander ...      9
33616  Israeli settlers are targeting densely populat...      9
11857  Tropical Cyclone ENAWO continued moving west s...     10
...                                                  ...    ...
29411  In 2017, the 'coastal Niño' phenomenon caused ...      2
3088   Maize and meal prices have started falling aft...      3
36138  The highest number of diseases reported in wee...      4
7445   UNVIM reports that as of 15 November, the bloc...      6
31752  The main causes of the current food insecurity...      3

[5700 rows x 2 columns]

## Test data

                                                    text  class
id
11356  The number of people facing severe food insecu...      3
36871  The SDF fighters appeared on edge, both over I...      9
13153  In Afrin District, Turkish officials announced...      9
9835   One food se- cur ity official told RI that are...      3
796    A total of 548 Iraqi civilians were killed and...      9
...                                                  ...    ...
2722    A total of 85 new cases of AWD were reported ...      4
11418  They also reported that 259 000 people were ev...     10
24911  Iraqi security officials say a double suicide ...      9
31074  All new arrivals require health assistance.  ?...      1
36188  The United Nations refugee agency is condemnin...      9

[5700 rows x 2 columns]

<a name="section-training"></a><h2 style="color:rgb(0,120,170)">Task B: Training and Results Analysis (15 points)</h2>

<div style="background-color:rgb(224, 243, 255)">

To evaluate the models, use <ins>accuracy</ins> as the metric throughout the task. 

**Dummy baseline (2 points).** Create one dummy baseline classifier that predicts the validation/test labels only based on the distribution of the labels in the training set (without any use of the feature vectors). This is a weak baseline and acts as a sanity check for the actual classifiers.

**Training and tuning classifiers (5 points).** Select at least <ins>two classification algorithms</ins> from standard machine learning classifiers. Using each classification algorithm, train a machine learning model on each of the variations of feature vectors. This should result in <ins>eight experiment sets</ins> (4 variations of feature vectors × 2 classification algorithms). The ML model in each of the experiments possibly have several involving hyper-parameters (also keep in mind the dimensionality size $k$ in the low-dimensional vectors as yet another hyper-parameter). For each experiment, select <ins>one of the hyper-parameters and tune its value</ins>. The tuning process is done by first assigning at least <ins>five different values</ins> to the hyper-parameter, then training separate models based on each value, and finally using the evaluation results on the validation set to select the best-performing model. Report the studied hyper-parameters, the evaluation results of each on validation set, and finally the selected value of the hyper-parameter. 

**Evaluation, reporting results, and discussion (3 point).** Evaluate the selected model of the eight experiment on the test set and report the results of the experiments on <ins>both validation and test sets (side by side) in one table as well as in one plot</ins>. Compare different models. Are the test results lower(/higher) than the validation results? If it is the case, where can it be rooted from? Among all these models and variations, what are the most important factors improving the classification results?

**Confusion matrix (2 point).** Select the best performing model among the experiments and use it to create a confusion matrix. The matrix shows the predicted versus true results per each label. Explain your observations on the matrix. Across which classes do you observe significant confusions?

**Features visualization (3 point).** Continue with the best performing model and now take its feature vectors for the *dataitems in the test set*. Project these feature vectors to a 2-dimensional space using the TSNE method.  Using these 2-dimensional vectors, create two plots where the dataitems are shown as points (small circles) on the plots. The plots look exactly the same but only differ in the coloring of the data points. The first plot colors every dataitem with its *true label*, while the second one colors each according to its *predicted label by the model*. Keep in mind to assign the same colors to the classes of the plots, so that the plots are visually comparable. Put these two plots side by side, observe the differences, and compare the results. Report your observations.


</div>

<a name="section-optional"></a><h2 style="color:rgb(0,120,170)">Task C: Linear Model Interpretability (2 extra point)</h2>

<div style="background-color:rgb(224, 243, 255)">
Train a logistic regression model on the high-dimensional vectors. Take the coefficient weights, learned by the model, on each dimension (which here corresponds to each token in the dictionary). Separately for each class, study what are the tokens that have the highest contributions/importance for the predictions of the model.
</div>